<h1>Awesome Products</h1>
<% @products.each do |product| %>
  <div class="card-product">
    <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/skateboard.jpg">
    <div class="card-product-infos">
      <h2>Skello</h2>
      <p>Manage your staff calendar</p>
    </div>
  </div>
<% end %>
